<%- partial('../sidebar') %>

<div id='content'>
  <div class='panel'>
    <div class='header'>
      <ul class='breadcrumb'>
        <li><a href='/'>主页</a><span class='divider'>/</span></li>
        <li class='active'>关于</li>
      </ul>
    </div>
    <div class='inner topic'>
      <div class="topic_content">
        <%- markdown(multiline(function () {
/*
### 关于
MagicGIS 社区为 Node.js 开源技术社区，致力于 GIS 的技术研究。

MagicGIS 社区是一个用 Node.js 和 MongoDB 开发的开源社区软件，MagicGIS 是基于 Node Club 的 GIS 中文技术社区。

地理信息系统（英语：Geographic Information System，缩写：GIS）是一门综合性学科，结合地理学与地图学，已经广泛的应用在不同的领域，是用于输入、存储、查询、分析和显示地理数据的计算机系统。地理信息系统作为集地理学、地图学、测绘学、遥感学、计算机信息科学、数学等于一天的与空间数据处理分析有关的边缘学科，成为信息技术产业的重要组成和高新技术领域的生力军。

社区目前由 [@xujie](http://47.92.7.213:3000/user/xujie) 在维护，有问题请联系：[https://github.com/xujie](https://github.com/xujie)

请关注我的个人网站：http://www.magicgis.cn

*/
        })) %>
      </div>
    </div>
  </div>
</div>
